@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
    text-decoration: none;
    overflow:none;
}
html, body {
    height: 100%;
    width: auto;
    scroll-behavior: smooth;
    transition: 1.5s ease;
}

/*--- HEADER ----*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    text-shadow:      0 0 8px #d4ab55;
    position:fixed;
    z-index: 10;
    width: 100%;
    height: 70px;
    top: -10px;
    left: 0;
    right: 0;
}
.header  p {
    display: block;
    font-size: 32px;
    color: #325b4d;
    font-family: 'Permanent Marker';
    cursor: pointer;
    text-decoration: none;
    height: fit-content;
}
.header p:hover{
    transform: scale(1.06);
    transition: 0.6s ease;
    color: #55a5c2;
}
.nav-bar {
    display: block;
    height: fit-content;

}
.nav-bar ul{
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    font-size: 26px;
    align-items: center;
    list-style: none;
}
.nav-bar a {
    color: #325b4d;
    font-family: 'Permanent Marker';

}
.nav-bar a:hover{
    transform: scale(1.06);
    transition: 0.6s ease;
    color: #55a5c2;
}


/*--- HERO ---*/
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 1em;
    background-color: #d07d56;

    height: 100Svh;
    width: auto;
} 

.hero-content {
    text-align: center;
    line-height: 7px;
}
.hero-content h1 {
    font-size: 75px;
    margin: 0;
    padding: 0;

    color: #325b4d;
}

.hero-content p {
    font-size: 35px;
    text-align: right;
    font-family: 'Permanent Marker';

    color: #d5d8d3;
}
.hero-content button {
    background-color: #325b4d;
    color: #d5d8d3;
    padding: 10px 20px;
    margin: 0;
    border-radius: 20px;
    float: inline-end;
    font-size: 20px;
    font-family: 'Permanent Marker'
}
.hero-content button:hover {
    transform: scale(1.06);
    transition: 0.6s ease;
    color: #d4ab55;
}

.hero-img img {
    height: 450px;
    width: 300px;
    border-radius: 5px;
    object-fit: cover;
}

/*--- SKILLS ---*/
.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    
    align-items: center;
    flex: 1;
    gap: 1em;

    height: 100vh;
    width: auto;

}
.skills-container > img {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    object-fit: cover;
}
.skills-container h2{
    font-size: 72px;
    color: #d07d56;
    text-shadow: -10px 10px 10px  white;
    font-family: 'Permanent Marker';
    padding: 0;
    position: absolute;
    z-index: 10;
    
    bottom: 70%;
    letter-spacing: 10px;
}
.skills-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 70%;
    width: 100%;
    padding: 30px;
    margin-top: 3em;
}
.skills-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    margin: 20px;
    height: 100%;
    width: 100%;

    backdrop-filter: blur(5px);
    border-radius: 30px;
    border: 3px #d5d8d3 solid;
}
.skills-card img {
    object-fit: fill;
    width: auto;
    height: auto;
}

/*--- ABOUT ---*/
.about-container {
    display: block;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #d4ab55;

    padding-top: 10px;
}
.about-container h2 {
    text-align: center;
    font-size: 72px;
    color: #325b4d;
    text-shadow: -10px 10px 10px  white;
    font-family: 'Permanent Marker';
    letter-spacing: 10px;
}
.about-content {
    display: block;
    text-align: left;
    margin: 1em 5em;
    padding: 10px;
    margin: auto;
    width: 80%;
}

/*--- CONTACT ---*/
.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    
    align-items: center;
    flex: 1;
    gap: 1em;
    font-size: 50px;
    font-family: 'Permanent Marker';

    height: 100vh;
    width: auto;
}
.contact-container > img {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    object-fit: cover;
}
.contact-container a{
    text-decoration: none;
    color: #55a5c2;
}
.contact-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 70%;
    width: 100%;
    padding: 30px;
    margin-top: 3em;
}
.contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    margin: 20px;
    height: 100%;
    width: 100%;
    gap: 1em;

    backdrop-filter: blur(5px);
    border-radius: 30px;
    border: 3px #d5d8d3 solid;
}
.contact-card img {
    object-fit: fill;
    width: 150px;
    height: auto;
}
.contact-container h2{
    font-size: 72px;
    color: #d4ab55;
    text-shadow: -10px 10px 10px #d5d8d3;
    font-family: 'Permanent Marker';
    padding: 0;
    position: absolute;
    z-index: 10;
    
    bottom: 70%;
    letter-spacing: 10px;
}